/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import 'ngx-toastr/toastr';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.back-to-list {
    border: none;
}

.ng-select .ng-select-container {
    min-width: 10rem;
    min-height: 1.5rem;
}

.ng-select.ng-select-single .ng-select-container {
    height: 1.5rem;
}

table {
    max-height: 50vh;
    overflow-y: auto;
}

.add-btn {
    max-height: 3rem;
}